body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { 
	margin:0pt;
	padding:0pt;
}
table { 
	border:1px solid #AAAAAA;
    clear:both;
} 

body { 
	font-family: arial,helvetica,clean,sans-serif;
	font-size: 14px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
	background: #CEE9F4 url(img/side_top.jpg) repeat-x;
    color: #444;
    margin: 0;
    padding: 0;
}

table { 
	font-size:inherit;
}

body * { 
	line-height:1.22em;
}
 
#ar-wrapper{ 
	width: 958px;
    margin:0 auto;
    overflow:auto;
}

#ar-header{ 
	height:35px;
    position:relative;
    font:14px arial,helvetica,clean,sans-serif;
	font-size:small;
	/*font:x-small;*/
}
                            
#ar-header h1, #ar-header img { 
	margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
}

#ar-header h1 a{ 
	background: url(img/logo_header.jpg) no-repeat;    
	height: 35px;
    padding-left: 29px;
    color: white;
    text-decoration: none;
    display:block;
    border: 0 !important;
    border-bottom: 0;
}

#ar-header ul{ 
	position:absolute;
    top:0px;
    right:4px;
    margin: 0;
    padding: 0;
    line-height: 18px !important;
    width: 600px;
}

#ar-header ul li{ 
	display: inline;
    padding: 0;
    padding-left: 20px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
	list-style: none;
	line-height: 18px !important;
	background: none !important;
}

#ar-header ul li a{ 
	height:26px;
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px !important;
    position: relative;
    top: 8px;
    border-bottom: 0;
}

#ar-header ul li a:hover{ 
	background-position:0 100%;
    color:silver;
}

h1 { 
	font-size:136%;
    margin-bottom:16px;
}

h1.first { 
	font-weight:bold;
    letter-spacing:-0.01em;
}

p { 
    margin-bottom:8px;
}

strong { 
	font-weight:bold;
}

a { 
    color:#000000;
    text-decoration:underline;
}

a:hover { 
	color:#057EB8;
    text-decoration:none;
} 

/*
pre { 
	background:#EEEEEE none repeat scroll 0%;
    font-size:96%;
    padding:5px;
}
*/
div.screenshot {
	background:#444444 none repeat scroll 0% !important;
	color:#ACD373 !important;
	font-size:96% !important;	
	margin-bottom:10px !important;
	padding:5px !important;
	position:relative;
}

div#summary { 
	background:transparent url(img/summary_bkg.gif) no-repeat scroll 0%;
    height:418px;
    margin-bottom:10px;
    padding:1px 10px;
}

#summary h2 { 
	color:#FFFFFF;
    font-size:136%;
    font-weight:bold;    
	margin:0pt 0pt 15px;
}

#summary h3 { 
	color:#C4DF9B;
    font-size:107%;
    font-weight:bold;
    margin-bottom:15px;
    width:164px;
}

#summary p { 
	color:#FFFFFF;
	font-size:100%;
    margin-bottom:15px;
    width:164px;
}

#summary ul { 
	margin:0pt;
    padding:0pt;
}

#summary #details { 
	float:right;
    position:absolute;
    right:12px;
    top:95px;
    width:235px;
}

#details li { 
	background:transparent url(img/benefits_check.gif) no-repeat scroll 0pt 10%;
    color:#FFFFFF;
    font-size:77%;
    margin-bottom:15px;
    padding-left:34px;
}

#content {
	max-width: 100%;
	background:#FFFFFF none repeat scroll 0% 50% !important;
	border-left:37px solid #FFFFFF;
	border-right:37px solid #FFFFFF;
	overflow:hidden;
	width:884px !important;
}

#more-info {
	top:0px !important;
	float:right;
	margin-left:10px;
	position:relative;
	top:-9px;
	width:458px;
}
#who-for li {
	color:#ABE7FF;
	float:left;
	font-size:110%;
	margin:0pt 6px 0pt 0pt;
	padding:0pt;
}
#more-info ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

#news h2 {
	font-size:120%;
}

#news div.news-item h2 {
	background:transparent url(img/icon_feed.gif) no-repeat scroll 0pt 10%;
	padding-left: 18px;
	font-size: 100%;
}

hr {
	background:transparent url(img/hr.png) no-repeat scroll 0%;
	border:0px none;
	height:20px;
	width:420px;
}

div.news-item p {
	font-size:80%;
}

#content-inner {
	float: left;
	width: 373px;
	padding-top: 20px;
	position:relative;
}

.download-link span {
	font-size:120%;
	font-weight:bold;
}

/*
p.download-link {
	margin-bottom: 32px;
	font-weight: bold;
}
*/
.download-link {
	font-size:80%;
	margin-left:20px;
	padding-left:52px;
	height: 60px;
}

.zip {
	background:transparent url(img/icon_zip.png) no-repeat scroll 0pt 50%;
}

.html {
	padding-left:52px;
	background:transparent url(img/icon_html.png) no-repeat scroll 0pt 50%;
}

.cpp {
	padding-left:52px;
	background:transparent url(img/icon_cpp.png) no-repeat scroll 0pt 50%;
}
.deb {
	padding-left:52px;
	background:transparent url(img/icon_deb.png) no-repeat scroll 0pt 50%;
}

.pdf {
	padding-left:52px;
	background:transparent url(img/icon_pdf.png) no-repeat scroll 0pt 50%;
}

.rpm {
	padding-left:52px;
	background:transparent url(img/icon_rpm.png) no-repeat scroll 0pt 50%;
}
.txt {
	padding-left:52px;
	background:transparent url(img/icon_txt.png) no-repeat scroll 0pt 50%;
}

#ar-footer {
	background:#404141 url(img/side_bottom.jpg) repeat-x scroll 0%;
	clear:both;
	color:#FFFFFF;
	font-family:arial,helvetica,clean,sans-serif;
	font-size:13px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	height:40px;
	line-height:normal;
	padding-top:1px;
	text-align:center;
}

#ar-footerwrap {
	background:#404141 url(img/content_black.jpg) repeat-y scroll 0%;
	height:100%;
	margin:0pt auto;
	overflow:hidden;
	position:relative;
	text-align:left;
	width:958px;
}

#ar-footer p {
	float:left;
	margin-left:30px;
	margin-top:10px;
}

#ar-footer a {
	border-bottom:0pt none;
	color:#FFFFFF;
	text-decoration:underline;
}